images/*
**.npy
**.DS_Store
test_set
.vscode
*.hdf5
*.output
*.error
*.rds
*.zip
*.ipynb
*.ipynb_checkpoints/
/saved_states
paper/jcgs-submission/compressed_figs
/notebooks
*.bsub
*.RData
*.Rout
/scratch
*.pyc
