images/*
*.bin
**.npy
**.DS_Store
test_set
.vscode
*.hdf5
*.output
*.error
*.rds
*.zip
*.ipynb
*.ipynb_checkpoints/
/saved_states
/notebooks
*.bsub
*.RData
*.Rout
/scratch
*.pyc
*.pdf
/correlation/sub_output
/correlation/pure_sub_data
/correlation/pure_simu
/correlation/pure_data
/correlation/output
/correlation/old_output
/correlation/data
/correlation/data_sim
/intensity/data
/intensity/output
